version: '3.8'

services:
  web:
    volumes:
      # Mount source code for hot reloading
      - ./app:/app/app
      - ./templates:/app/templates
      - ./static:/app/static
    command: >
      uvicorn app.main:app 
      --host 0.0.0.0 
      --port 8000 
      --reload
      --reload-include '*.html'
      --reload-include '*.css'
      --log-level info

  worker_default:
    volumes:
      # Mount source code for hot reloading
      - ./app:/app/app
      - ./worker.py:/app/worker.py
    # Workers will auto-reload when code changes

  worker_spotify:
    volumes:
      # Mount source code for hot reloading
      - ./app:/app/app
      - ./worker.py:/app/worker.py
    # Workers will auto-reload when code changes
